*{
  margin:0;
  padding:0
}
html,body {
  color:#333;
  user-select: none;
}
/* 添加任务 */
.todoList {
  width:620px;
  padding:20px;
  margin:0 auto;
}
.todoList input {
  width:360px;
  height:30px;
  padding:0 10px;
  border:1px solid #ddd;
  outline: none;
}
/* 按钮 */
.todoList .btn {
  width:60px;
  height:32px;
  line-height: 32px;
  background: #008bfd;
  color:#fff;
  outline: none;
  border:none;
  cursor: pointer;
  vertical-align: middle;
}

.todoList .btn-status {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  outline: none;
  border:none;
  cursor: pointer;
  position: relative;
  bottom: 2px;
display: none;
}

.todoList .btn-status.del {
  background: #fd5000;
}
/* 完成显示 */
.todoList .btn-status.ok {
  margin-right: 10px;
  display: inline-block;
  background: #38e205;
}

/* 任务列表 */
.todoList ul {
  margin-left:20px;
}
.todoList li {
  margin:20px 0;
}

.todoList li:hover .btn-status{
  display: inline-block;
}

.todoList li span {
  margin-right:10px
}

.todoList p {
  margin:20px 0;
  text-align: left;
  font-size: 16px;
}

/* 完成 */
.todoList li .done {
  text-decoration: line-through solid rgb(255, 81, 0);
}